body {
  background: indianred;
}

.navbar.navbar-default {
  border-radius: 0;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.container.main {
  background: white;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2);
}

.ng-scope.main-view {
  padding: 2em 1em;
}

.masonry {
  margin: 0 auto;
}

.masonry-heading {
position: absolute;
top: 50%;
margin-top: -1em;
left: 0;
right: 0;
bottom: 0;
}

.masonry-heading h3 a {
  color: inherit;
  text-decoration: none;

}
.masonry-heading h3 {
  text-align: center;
  color: white;
  padding: .5em 1em;
  border: 3px solid white;
  width: 6em;
  margin: 0 auto;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.5);
  text-shadow: 2px 2px 8px rgba(0,0,0,.2);
}
